html, body, div, span, h1, h2, h3,h4, h5, h6, p, blockquote,
a, img, strong, tt, dl, dt, dd, ol, ul, li, form,
table, caption, tbody, tfoot,thead, tr, th, td {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-style: inherit;
    font-family: inherit;
    vertical-align: baseline;
}

#header {
    background-color: #880D36;
    height: 60px;
    width: 100%;
    margin-bottom: 10px;
    min-width: 600px;
}
#header-nav {
    display: block;
    width: 100%;
    height: 60px;
    background: #00A2CA;
    margin: 0 auto;
    list-style-type: none;
    min-width: 600px;
    overflow: visible;
}
#header-nav li {
    display: inline;
    height: 60px;
    padding: 0;
    margin: 0 0 20px 0;
}
#header-nav li a {
    display: inline-block;
    margin: 0 10px;
    padding: 15px 20px;
    height: 30px;
    line-height: 30px;
    color: #FFF;
    font-family: "\5FAE\8F6F\96C5\9ED1";
    font-size: 16px;
    float: right;
}
#header-nav li a:hover {
    background: #0095BB;
}

a {
    text-decoration: none;
}

#header-nav-logo {
    color: #fff;
    float: left;
    padding: 0 40px;
    font-size: 40px;
    font-family: cursive, sans-serif;
}

.article-title {
    margin: 5px;
    padding: 15px auto 0 auto;
    width: 100%;
    height: 50px;
    text-align: center;
    font-family: fantasy;
    text-align: center;
    vertical-align: middle;
}
.fixfloat {
    clear: both;
}

.article-body {
    padding: 5px auto;
    margin: 5px auto;;
    background-color: #538ce0;
}

.article-message {
    padding: 5px auto 20px auto;
    margin: 20px auto;
    background-color: #0095BB;
}

.article-message h2 {
    line-height: 30px;
    padding: 5px auto;
    margin: 5px auto;;
    text-align: center;
    border-bottom: 2px solid #000;
    font-size: 26px;
    font-weight: 600;
    font-family: monospace;
}

.article-message h3 {
    line-height: 20px;
    padding: 5px auto;
    margin: 5px auto;;
    text-align: center;
    font-size: 18px;
    font-weight: 600;
    font-family: monospace;
}

.article-message img {
    display: block;
    text-align: center;
    width: 30%;
    height: 24%;
    padding: 3px;
    margin: 2px auto 10px auto;
}

.article-message p {
    text-align: left;
    padding: 10px;
    font-family: "Microsoft Yahei" ;
    line-height: 30px;
    color: #676869;
    font-size: 15px;
    font-weight: 400;
    text-indent: 2em;
}

.article-message ol > li {
    text-align: left;
    padding: 5px auto 40px 5px;
    border: 1px solid #333;

}

.article-message table {
    border: 1px solid  #673334;
    width: 30%;
    border-spacing: 0;
}

.article-message tr th {
    background-color: #000;
	border: 1px solid  #673334;
    color: #fff;
}

.rticle-message-img {
    padding: 5px;
    margin: 5px;
    text-align: center;
}

.article-message-img ul {
    text-align: center;
}

.article-message-img li {
    display: inline-block;
    border: 1px solid #000;
    margin: 5px;
    padding: 5px auto 5 100px;

    clear: left;

}

.article-message-img p {
    text-align: center;
}

.rank {
    padding: 5px 20px;
    margin: 15px auto auto 5px;
    text-align: left;;
}

.rank p {
    padding: 0;
    text-align: center;
    line-height: 30px;
    color: #676869;
    font-size: 15px;
    font-weight: 400;
}

.rank ol {
    list-style-type: none;
    text-align: left;
    font-family: "Microsoft Yahei" ;
	line-height: 30px;
	font-size: 15px;
    font-weight: 600;
    text-indent: 10px;
    list-style-type: decimal;
    border: none;
    width: 300px;
    margin: 5px auto;
}

.rank li {
    border: 0;
}

.match {
    width: 800px;
    padding: 5px auto;
    margin: 5px auto;
}
.match tr th {
    background-color: #fff;
	border: 1px solid  #888;
	color: #3f8d1c;
}
.match  tr td {
	border: 1px solid  #fff;
    color: #000;
}

.match table {
    border: 1px solid  #673334;
    width: 80%;
    border-spacing: 0;
    margin: 5px auto;
}
