html, body {
  min-width: 1280px;
}

/* - width - */

.width-1280 {
  width: 1280px;
}

/* - Header - */

header {
  width: 100%;
  height: 55px;
}
.logo {
  display: block;
  font-size: 21px;
  margin-left: 60px;
  float: left;
  text-decoration: none;
  color: #000;
  margin-top: 12px;
  margin-bottom: 12px;
}
.logo::before {
  height: 31px;
  width: 31px;
  content: url(../img/header-logo.png);
  vertical-align: middle;
  display: inline-block;
  margin-right: 5px;
}
.navi {
  height: 55px;
  width: 100%;
  list-style: none;
  padding: 0;
  float: right;
}

.navi ul li a{
	height:52px;
	line-height: inherit;
	width:65px;
	text-align: center;
	text-decoration: none;
	display: block;
	color:#878787;
	font-size: 14px;
}

.navi ul {
  list-style: none;
  margin:0 40px 0 0;
  padding:0;
  float:right;
}

.navi ul li {
  float: left;
  height: 55px;
  line-height: 55px;
  margin-right: 20px;
}

a.sign-in{
	height:55px;
  /*login-img left ,login-word center*/
	background: url(../img/signin.png) no-repeat center left;
	color: #e74f4d;
}

.navi ul li.sign-in {
    margin-right: 0;
}

.navi ul li a.sign-in:hover{
	border-bottom: none;
}

.navi ul li a:hover,
.active {
	border-bottom: 3px solid #e74f4d;
	color: #e74f4d;
}

/* -banner- */
.banner {
  height:690px;
  width: 100%;
	background: #ccc url(../img/header-back.jpg) center;
	background-size:cover;
  clear: both;
}

.banner-mock {
  background: rgba(0,0,0,.3);
  height:inherit;
  width:inherit;
}

.banner-mock h1 {
  color: #fff;
	font-size: 60px;
	margin:0;
	padding: 200px 0 20px 120px;
}

.banner-mock p {
  color: #fff;
	font-size: 22px;
	font-weight:normal;
	line-height: 35px;
	margin:0 0 30px 120px;
}

.banner-mock a {
  display: block;
	height:63px;
	line-height: 63px;
	width:330px;
	background: #e74f4d;
	text-align: center;
	color: #fff;
	font-size: 30px;
	font-weight: normal;
	letter-spacing: 0.3em;
	text-indent: 10px;
	text-decoration: none;
	margin:10px 0 0 120px;
}

/* -info- */
.info {
  width: 100%;
  height: 250px;
}

.info-list {
  display: block;
  float: left;
  width: 25%;
  height: inherit;
  text-align: center;
}

.info-list img {
  margin-top: 60px;
}

.info-list p {
    font-size: 16px;
    color: #767777;
    font-weight: 300;
    margin-top: 30px;
    height: 50px;
    border-right: 2px solid #cac6c5;
}

.info-list:last-child p {
    border-right: none;
}

/* -new world title- */
.newworld-title {
  height: 360px;
  width: inherit;
  background-color: rgba(237,236,236,.3);
  text-align: center;
}

.newworld-title img {
  margin-top: 90px;
}
.newworld-title p {
  font-size: 54px;
  margin-top: 51px;
  color: #90908f;
}
