html, body {
  min-width: 1280px;
}

/* - width - */

.width-1280 {
  width: 1280px;
}

/* - Header - */

header {
  width: 100%;
  height: 55px;
}
.logo {
  display: block;
  font-size: 21px;
  margin-left: 60px;
  float: left;
  text-decoration: none;
  color: #000;
  margin-top: 12px;
  margin-bottom: 12px;
}
.logo::before {
  height: 31px;
  width: 31px;
  content: url(../img/header-logo.png);
  vertical-align: middle;
  display: inline-block;
  margin-right: 5px;
}
.navi {
  height: 55px;
  width: 100%;
  list-style: none;
  padding: 0;
  float: right;
}

.navi ul li a{
	height:52px;
	line-height: inherit;
	width:65px;
	text-align: center;
	text-decoration: none;
	display: block;
	color:#878787;
	font-size: 14px;
}

.navi ul {
  list-style: none;
  margin:0 40px 0 0;
  padding:0;
  float:right;
}

.navi ul li {
  float: left;
  height: 55px;
  line-height: 55px;
  margin-right: 20px;
}

a.sign-in{
	height:55px;
  /*login-img left ,login-word center*/
	background: url(../img/signin.png) no-repeat center left;
	color: #e74f4d;
}

.navi ul li.sign-in {
    margin-right: 0;
}

.navi ul li a.sign-in:hover{
	border-bottom: none;
}

.navi ul li a:hover,
.active {
	border-bottom: 3px solid #e74f4d;
	color: #e74f4d;
}

/* -banner- */
.banner {
  height:690px;
  width: 100%;
	background: #ccc url(../img/header-back.jpg) center;
	background-size:cover;
  clear: both;
}

.banner-mock {
  background: rgba(0,0,0,.3);
  height:inherit;
  width:inherit;
}

.banner-mock h1 {
  color: #fff;
	font-size: 60px;
	margin:0;
	padding: 200px 0 20px 120px;
}

.banner-mock p {
  color: #fff;
	font-size: 22px;
	font-weight:normal;
	line-height: 35px;
	margin:0 0 30px 120px;
}

.banner-mock a {
  display: block;
	height:63px;
	line-height: 63px;
	width:330px;
	background: #e74f4d;
	text-align: center;
	color: #fff;
	font-size: 30px;
	font-weight: normal;
	letter-spacing: 0.3em;
	text-indent: 10px;
	text-decoration: none;
	margin:10px 0 0 120px;
}

/* -info- */
.info {
  width: 100%;
  height: 250px;
}

.info-list {
  display: block;
  float: left;
  width: 25%;
  height: inherit;
  text-align: center;
}

.info-list img {
  margin-top: 60px;
}

.info-list p {
    font-size: 16px;
    color: #767777;
    font-weight: 300;
    margin-top: 30px;
    height: 50px;
    border-right: 2px solid #cac6c5;
}

.info-list:last-child p {
    border-right: none;
}

/* -new world title- */
.newworld-title {
  height: 360px;
  width: inherit;
  min-width:1280px;
  background-color: rgba(237,236,236,.3);
  text-align: center;
}

.newworld-title img {
  margin-top: 90px;
}
.newworld-title p {
  font-size: 54px;
  margin-top: 51px;
  color: #90908f;
}

/* -find-info- */
.find-info {
  height: 340px;
  width: inherit;
  text-align: center;
  background: url(../img/see_map.png) no-repeat center;
  /*#fix background img only wrap in a 1280*340 size*/
  background-size: cover;
  color: #fff;
}

.find-info h3 {
  font-size: 22px;
  padding: 50px 0 15px 0;
  /*fixed margin-top 1em ,keep margin-top :0 */
  -webkit-margin-before:0;
  /*fixed margin-bottom 1em ,keep margin-bottom :0 */
  -webkit-margin-after:0;
}

.find-info h3::after {
  content: '';
  display: inline-block;
  height: 2px;
  width: 30px;
  background: #fff;
}
.find-info p {
  font-size: 12px;
  margin: 0 0 60px 0;
}

/* -find-info -navi-select-list-*/
/* -下拉菜单- */
.select-list {
  display: inline-block;
  vertical-align: middle;
  width: 236px;
  height: 38px;
  margin: 0 30px;
}

.select-list a {
  text-decoration: none;
}

/* 一级菜单 */
.select-list span {
  display: block;
  width: 236px;
	height:38px;
	line-height: 38px;
	font-size: 12px;
	color:#a8aaaa;
	position: absolute;
	left:12px;
  text-align: left;
}

.navi-select-1 img {
  width: 19px;
  height: 18px;
  position: absolute;
  top: 10px;
  right: 10px;
}

.search {
  border:0;
	padding:0;
	background: #be4e48;
	font-size: 14px;
	color: #fff;
	letter-spacing:1em;
	outline: none;
}

.navi-select-1 {
  width: inherit;
  height: inherit;
  position: relative;
  cursor: pointer;
  background: #fff;
  list-style-type: none;
  -webkit-margin-before: 0;
  -webkit-margin-after: 0;
  /* fix margin-left 40px bug*/
  -webkit-padding-start:0;
}

/* -二级菜单－*/
.navi-select-2 {
  display: none;
  width: 236px;
  height: 38px;
  margin:0;
	padding:0;
  background:#c1cd94;
  list-style-type: none;
  z-index: 50;
}

.navi-select-1 li:hover .navi-select-2 {
  display: block;
  position: absolute;
  top: 100%;
}

.navi-select-2 li {
  width:236px;
  height:25px;
	background:#e3e3e4;
	line-height: 25px;
	color:#767777;
	font-size: 12px;
	text-align: left;
	text-indent: 30px;
	cursor:pointer;
}

.navi-select-2 li:hover {
  /* add select-background-img */
  background: #be4e48 url(../img/selected.png) no-repeat 10px 0;
	color: #fff;
}

navi-select-2 a {
  display: block;
  padding: 25px 40px;
  color: #757575;
  text-decoration: none;
}

/* -activity-info- */
.activity-info {
  width: 100%;
  min-width:1280px;
  height: 505px;
  padding-top: 100px;
  text-align: center;
  background: #f7f8f7;
}

.activity-list {
  height: 390px;
  width: 215px;
  display: inline-block;
  margin: 0 18px;
  vertical-align: middle;
  overflow: hidden;
}

.activity-list img {
  width: 213px;
  height: 315px;
  border: 1px solid #e4e4e4;
}

.activity-list h2 {
  font-size: 16px;
  color: #000;
  margin: 0;
  padding-bottom: 8px;
  font-weight: normal;
}

.activity-list p {
  font-size: 12px;
  padding-bottom: 5px;
  margin: 0;
  color: #767777;
}

.shanghai {
  letter-spacing: 1.4em;
}

/* -new time- */
.new-time {
  height: 1080px;
  width: 100%;
  min-width: 1280px;
}
/* first-div */
.new-div-2 {
  width: 66.6666%;
  height: 540px;
  float: left;
  text-align: center;
  background: url(../img/carousel_1.png) no-repeat;
  background-size:cover;
  color: #fff;
  margin: 0;
}

.new-div-2 h2 {
  font-size: 50px;
  margin-top: 132px;
  -webkit-margin-after:0;
}

.new-div-2 h3 {
  font-size: 158px;
  line-height: 140px;
  margin: 0 auto;
}

.new-div-2 p {
  font-size: 22px;
  line-height: 32px;
}

/* 2~4-div */
.new-div-1 {
  width: 33.3333%;
  height: 540px;
  float: left;
  text-align: center;
  position: relative;
}

.new-div-1 img {
  margin-top: 165px;
  margin-bottom: 22px;
}

.new-div-1 p {
  width: 285px;
  font-size: 14px;
  line-height: 35px;
  margin: 0 auto;
  color: #767777
}

.new-div-1 a {
  display: inline-block;
  width: 105px;
  height: 33px;
  font-size: 12px;
  line-height: 33px;
  color: #e74f4d;
  border: 1px solid #e74f4d;
  text-decoration: none;
  margin-top: 22px;
}

.new-div-1 span.radius-dot {
  display: inline-block;
  width: 12px;
  height: 12px;
  border-radius: 100%;
  border: 1px solid #b1b1b1;
  margin: 22px 12px;
}

.new-div-1 span.selected {
  background: #b1b1b1;
}

.new-div-1 p.new-time-p {
  font-size: 20px;
  line-height: 30px;
  margin: 150px auto 50px auto;
}

.new-time-p::after {
  content: '';
  display: inline-block;
  width: 2px;
  height: 30px;
}

.new-div-1 p.red {
  color: #e74f4d;
}

.new-div-1 p.white {
  color: #fff;
}

.bg-red {
  background: #e74f4d;
}

.new-div-1 a.p-white-b-font {
  color: #fff;
  border-color: #fff;
}
/* 5-div */
.new-div-1 span.triangle {
  background: url(../img/triangle.png) no-repeat;
  display: block;
  width: 24px;
  height: 29px;
  position: absolute;
  left: 0;
  top: 253px;
}

.new-time div.bg-img {
  background: url(../img/new_world.png) no-repeat;
  background-size: cover;
}

/* -joinus- */
.joinus {
  width: 100%;
  min-width: 1080px;
  height: 600px;
  text-align: center;
  padding: 0 100px;
  box-sizing: border-box;
}

.joinus h1 {
  font-size: 22px;
  margin-top:125px;
}

.joinus h1::after {
  content: "";
  display: inline-block;
  height: 2px;
  width: 30px;
  background: #e74f4d;
}

.joinus p {
  font-size: 12px;
  color: #aaaaaa;
  margin-bottom: 50px;
}
.joinus-form {
  width: 100%;
  min-width: 1180px;
  overflow-x:auto;
}

.joinus-form div.rule {
  width: 33.3333%;
  min-width: 360px;
  padding-right: 50px;
  float: left;
  text-align: left;
}

.joinus-form div.form-warp {
  width: 62%;
  min-width: 720px;
  float: left;
  text-align: left;
}

.rule dl {
  margin: 0 0 30px 0;
  position: relative;
  font-size: 14px;
}

.rule dt {
  display: block;
  margin-bottom: 20px;
}

.rule dd {
  font-size: 12px;
  margin: 0;
  color: #aaaaaa;
  padding-bottom: 20px;
  margin-bottom: 20px;
}

.rule span {
  width: 45px;
  height: 9px;
  background: url(../img/more.png) no-repeat;
  display: block;
  position: absolute;
  right: 0;
  top: 60px;
}

.input-wrap {
  width: 49%;
  background: #ededed;
  margin: 0 0 15px 0;
  padding: 9px 0;
}
.input-wrap label {
  font-size: 12px;
  color: #767777;
  width: 18%;
  padding-left: 10px;
  display: inline-block;
  text-align: left;
}

.input-wrap input {
  height: 20px;
  width: 77%;
  border: none;
  display: inline-block;
  background: #ededee;
  outline: none;
}

.form-warp div.left {
  float: left;
}
.form-warp div.right {
  float: right;
}

.form-warp div.txt {
  width: 100%;
  clear: both;
}

.form-warp div.txt label {
  display: block;
  width: 80%;
}

.form-warp textarea {
  border: none;
  width: 98%;
  height: 120px;
  margin-left: 10px;
  resize: none;
  background: #ededee;
  outline: none;
}

.form-warp button {
  width: 100%;
  height: 40px;
  font-size: 18px;
  border: none;
  outline: none;
  background: #ededee;
}

/* -contact-us- */
.contact-us {
  height: 360px;
  width: 100%;
  min-width: 1280px;
  text-align: center;
  position: relative;
  overflow: hidden;
  background: #32353f;
}

.contact-us h2 {
  font-size: 22px;
  color: #fff;
  font-weight: normal;
  margin: 90px 0 10px 0;
}

.contact-us p {
  margin: 0 0 30px 0;
  color: #fff;
  font-weight: normal;
  font-size: 12px;
}

.contact-us input {
  height: 40px;
  border: none;
  padding: 0;
  width: 430px;
  text-indent: 15px;
  outline: none;
}

.contact-us a {
  display: inline-block;
  width: 80px;
  height: inherit;
  line-height: 40px;
  background: #686166;
  font-size: 16px;
  letter-spacing: .5em;
  text-indent: 10px;
  color: #fff;
  text-decoration: none;
}

.social {
  margin-top: 30px;
}

.social .icon1 {
  background: url(../img/footer_icon_1.png) no-repeat;
  width: 24px;
  height: 27px;
  display: inline-block;
  margin: 0 10px;
}

.social .icon2 {
  background: url(../img/footer_icon_2.png) no-repeat;
  width: 24px;
  height: 27px;
  display: inline-block;
  margin: 0 10px;
}

.social .icon3 {
  background: url(../img/footer_icon_3.png) no-repeat;
  width: 24px;
  height: 27px;
  display: inline-block;
  margin: 0 10px;
}

.social .icon4 {
  background: url(../img/footer_icon_4.png) no-repeat;
  width: 24px;
  height: 27px;
  display: inline-block;
  margin: 0 10px;
}

/* -footer- */
footer {
  height: 60px;
  width: 100%;
  min-width: 1280px;
  text-align: center;
  position: relative;
  overflow: hidden;
  background: #32353f;
}

footer p {
  float: left;
  font-family: "SimSun";
  font-weight: normal;
  font-size: 12px;
  margin: 32px 0 0 60px;
  color: #fff;

}

footer a {
  position: absolute;
  bottom: 10px;
  right: 60px;
  font-size: 12px;
  color: #fff;
  font-family: "SimSun";
  text-decoration: none;
}
