* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial "Microsoft Yahei" serif;
}

.content {
    width: 400px;
    height: 200px;
    background-color: #ccc;
    overflow: hidden;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -200px;
    margin-top: -100px;
}

.left-circle {
    width: 100px;
    height: 100px;
    background-color: #fc0;
    border-radius: 0 0 200px 0;
    left: 0%;
    top: 0%;
}

.right-circle {
    width: 100px;
    height: 100px;
    background-color: #fc0;
    border-radius: 200px 0 0 0;
    float: right;
}
