<!DOCTYPE html>
<html lang="zh-CN" xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html"
      xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Task-50 微型问卷调查平台</title>
    <link href="node_modules/questionnairemvc-app-css/task50.css" rel="stylesheet" type="text/css">
    <link href="node_modules/questionnairemvc-app-css/poping.css" rel="stylesheet" type="text/css">
</head>
<body>
    <!--弹框层-->
    <div id="cover"></div>
    <div class="pop-tip">
        <div id="inner-title">提示</div>
        <div id="inner-text"><p>确定删除这项问卷调查吗?</p>
            <button value="confirm" id="confirm-btn" cid="">确定</button>
            <button value="cancel" id="cancel-btn">取消</button>
        </div>
    </div>

    <section class="questionnaire">
        <header>
            <div id="circle">?</div>
            <div class="btn">问卷管理</div>
            <div class="btn">我的问卷</div>
        </header>
        <section class="main">
            <button id="new-questionnaire">+新建问卷</button>
            <table class="questionnaire-list">
                <tr><th></th><th>标题</th><th>时间</th><th>状态</th><th>操作</th></tr>
            </table>
        </section>
        <section class="outer-edit-questionnaire">

        </section>
    </section>

<!--问卷列表中每条问卷的模板-->
<script type="text/template" id="item-template">

        <td><input class="toggle" type="checkbox" ></td>
        <td><label><%- title %></label></td>
        <td><label><%- deadline %></label></td>
        <td><label><%- state %></label></td>
        <td>
            <button class="operate-btn edit">编辑</button>
            <button class="operate-btn destroy">删除</button>
            <button class="operate-btn check-data">查看数据</button>
        </td>
</script>

<!--每条问卷的模板-->
<script type="text/template" id="edit-questionnaire-template">

    <input class="questionnaire-title" type="text" value=<%- title %> >
    <!--题目列表-->
    <div id="questions-list"></div>
    <div class="one-line"></div>

    <div class="question-select-type">
        <button id="single" name="single" autofocus="autofocus">单选题</button>
        <button id="multi" name="multi">多选题</button>
        <button id="text" name="text">文本题</button>
        <button class="summit">提交</button>

        <div id="question-single-multi" class="tabbar" name="single">
            <label>题目序号<input type="text" name="serial" value="1" id="serial"></label>
            <label>题目<input type="text" value="你是傻逼吗" id="title"></label><br>
            <label>A<input type="text" value="Yes" id="answer1"></label>
            <label>B<input type="text" value="No" id="answer2"></label><br>
            <label>C<input type="text" value="heihei" id="answer3"></label>
            <label>D<input type="text" value="hehe" id="answer4"></label>
        </div>
        <div id="text-div" class="tabbar" name="text">
            <label>题目序号<input type="text" name="serial" id="text-serial"></label>
            <label>题目<input type="text" name="serial" id="text-title"></label>
        </div>
    </div>

    <button class="add-question">+添加问题</button>
    <div class="one-line"></div>

    <label>问卷截止日期   <input type="text" id="deadline"></label>
    <button class="save">保存问卷</button>
    <button class="release">发布问卷</button>

</script>

    <!--//每个题目的模板-->
    <script type="text/template" id="single-question-template">
        <span><%- serial %></span><span>(单选题)</span>
        <span><%- questionTitle %></span><br>
        <input type="radio" name="answer" ><%- alternativeAnswer[0] %><br>
        <input type="radio" name="answer" ><%- alternativeAnswer[1] %><br>
        <input type="radio" name="answer" ><%- alternativeAnswer[2] %><br>
        <input type="radio" name="answer" ><%- alternativeAnswer[3] %>
        <button class="up">上移</button><button class="down">下移</button>
        <button class="delete">删除</button><button class="copy">复制</button>
    </script>
    <script type="text/template" id="multi-question-template">
        <span><%- serial %></span><span>(多选题)</span>
        <span><%- questionTitle %></span><br>
        <input type="checkbox" name="answer" ><%- alternativeAnswer[0] %><br>
        <input type="checkbox" name="answer" ><%- alternativeAnswer[1] %><br>
        <input type="checkbox" name="answer" ><%- alternativeAnswer[2] %><br>
        <input type="checkbox" name="answer" ><%- alternativeAnswer[3] %><br>
        <button class="up">上移</button><button class="down">下移</button>
        <button class="delete">删除</button><button class="copy">复制</button>
    </script>
    <script type="text/template" id="text-question-template">
        <span><%- serial %></span><span>(文本题)</span>
        <span><%- questionTitle %></span><br><br>
        <textarea type="text" name="answer" ></textarea>
        <button class="up">上移</button><button class="down">下移</button>
        <button class="delete">删除</button><button class="copy">复制</button>
    </script>
<!--<script src="node_modules/questionnairemvc-common/base.js"></script>-->
<script src="node_modules/jquery/dist/jquery.js"></script>
<script src="node_modules/underscore/underscore.js"></script>
<script src="node_modules/backbone/backbone.js"></script>
<script src="node_modules/backbone.localstorage/backbone.localStorage.js"></script>

<script src="js/models/question.js"></script>
<script src="js/collections/questions.js"></script>
<script src="js/models/questionnaire.js"></script>
<script src="js/collections/questionnaires.js"></script>

<script src="js/views/single-question-view.js"></script>
<script src="js/views/questionnaire-view.js"></script>
<script src="js/views/edit-questionnaire-view.js"></script>

<script src="js/views/app-main-view.js"></script>
<script src="js/views/app-body-view.js"></script>

<script src="js/app.js"></script>


<script type="text/javascript">
$(function () {

});
</script>
</body>
</html>