* {
    margin: 0;
}
body {
    background-color: #dedede;
}
.header {
    background-color: #880d36;
    height: 60px;
    width: 100%;
    margin-bottom: 10px;
    min-width: 600px;
}
.header-nav {
    display: block;
    background: #2175bc;
    margin: 0 auto;
    list-style-type: none;
    min-width: 600px;
    overflow: visible;
}
.header-nav li {
    display: inline;
    padding: 20px 0 0 0;
}
.header-nav li a {
    margin: 20px 15px;
    height: 30px;
    color: #fff;
    font-family: "\5FAE\8F6F\96C5\9ED1";
    font-size: 16px;
    float: right;
}
.header-nav li a:hover {
    background: #0095bb;
}

a {
    text-decoration: none;
}

.header-nav li img {
    margin: 1 30px;
}

.bottom,
.article-one,
.article-two,
.picture,
.latest {
    margin: 25px 20px 0 20px;
    padding: 15px 20px 10px 20px;
    border-width: 2px;
    border-color: #959595;
    border-style: none solid solid none;
    background-color: #fff;
}
.article-one,
.article-two,
.latest p {
    text-indent: 2em;
    line-height: 2;
}
.article-one img {
    display: block;
    margin-left: 30px;
}


footer {
    margin: 25px 0 0 0;
    height: 50px;
    background-color: #000;
}

footer p {
    padding-top: 15px;
    text-align: center;
    color: #fff;
}
